<mat-card class="score-board">
  <mat-card-content>
    <div>
      <h1 align="center">{{timeInSeconds | soccerTime: gameStatus.isSecondHalf}}</h1>
      <h2 align="center">Freund {{stats.own}} - {{stats.enemy}} Gegner</h2>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!gameStatus.endFlag" mat-button (click)="switchStatus()">{{gameStatus.statusString}}</button>
    <button *ngIf="gameStatus.runFlag" mat-button (click)="addEnemyGoal()">Gegentor</button>
  </mat-card-actions>
</mat-card>

<mat-card class="player-list">
  <mat-card-title>Spieler:</mat-card-title>
  <mat-list>
    <div *ngFor="let player of players">
      <mat-list-item>
        <h4 mat-line>{{player.vorname}} {{player.nachname}} ({{player.alter}})</h4>
        <button *ngIf="gameStatus.runFlag" mat-button (click)="addGoal(player)">Tor</button>
        <button *ngIf="gameStatus.runFlag" mat-button (click)="addCard(player, true)">Gelbe Karte</button>
        <button *ngIf="gameStatus.runFlag" mat-button (click)="addCard(player, false, true)">Rote Karte</button>
      </mat-list-item>
      <mat-divider *ngIf="player != players[players.length -1]"></mat-divider>
    </div>
  </mat-list>
</mat-card>
