<mat-card class="score-board">
  <div class="center">
    <h1 align="center">{{timeInSeconds | soccerTime}}</h1>
  </div>
  <button mat-button (click)="startTimer()">Start</button>
</mat-card>

<mat-card class="player-list">
  <mat-card-title>Team-Members:</mat-card-title>
  <mat-list>
    <div *ngFor="let player of players">
      <mat-list-item>
          <h4 mat-line>{{player.vorname}} {{player.name}} ({{player.alter}})</h4>
        </mat-list-item>
        <mat-divider *ngIf="player != players[players.length -1]"></mat-divider>
    </div>
  </mat-list>
</mat-card>
