/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Toolbar fullwindow size */
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}