<mat-card class="search-card">
  <mat-card-header>
    <h1>Teamauswahl</h1>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Teamname" aria-label="Number" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectTeam($event)">
        <mat-option *ngFor="let team of teams" [value]="team">
          {{ team.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!selectedTeam" mat-button disabled>Auswählen</button>
    <button *ngIf="selectedTeam" mat-button (click)="startGame()">Auswählen</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="previousGames" class="previous-teams">
  <mat-card-header>
    <h1>Vorherige Spiele</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let game of previousGames" (click)="startGameWithPreviousGame(game)">
        <h4 mat-line>{{game?.teamId}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="previousTeams" class="previous-teams">
  <mat-card-header>
    <h1>Vorherige Teams</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let team of previousTeams" (click)="startGameWithPreviousGame(team)">
        <h4 mat-line>{{team?.team?.name}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
